<div class="background">
    <div class="page-container">
        <div class="logo-container">
            <img class="logo-verde-sombra" src="./../../../assets/img/logo-verde-sombra.png" alt="Logo Coinvert">
        </div>
        <div class="form-container">
            <form id="register-form" #registerForm="ngForm" (ngSubmit)="register()" autocomplete="on" aria-labelledby="Login">
                <img src="./../../../assets/img/logo-verde.png">
                <p>¡Crea tu cuenta!</p>
                <div>
                    <input class="input-style" type="text" id="registerUsername" name="user" placeholder=" " minlength="3" autocomplete="username" required="true" [(ngModel)]="registerData.Username" #user="ngModel" >
                    <label for="registerUsername">Nombre de usuario</label>
                </div>
                <div>
                    <input class="input-style" type="email" id="registerEmail" name="email" placeholder=" " autocomplete="email" required="true" [(ngModel)]="registerData.Email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                    <label for="registerEmail">Email</label>
                </div>
                <div>
                    <input class="input-style" type="text" id="registerName" name="name" placeholder=" " minlength="3" autocomplete="name" required="true" [(ngModel)]="registerData.FirstName" #name="ngModel">
                    <label for="registerName">Nombre</label>
                </div>
                <div>
                    <input class="input-style" type="text" id="registerLastname" name="lastname" placeholder=" " minlength="3" autocomplete="lastname" required="true" [(ngModel)]="registerData.LastName" #lastname="ngModel">
                    <label for="registerLastname">Apellido</label>
                </div>
                <div>
                    <input class="input-style" type="password" id="registerPassword"  name="password" placeholder=" " minlength="8" required="true" [(ngModel)]="registerData.Password" #password="ngModel">
                    <label for="registerPassword">Contraseña</label>
                </div>
                <p class="error" *ngIf="email.invalid && (email.touched || email.dirty)">*El email no es válido</p>
                <p class="error" *ngIf="user.invalid && (user.touched || user.dirty)">*El nombre de usuario no es válido</p>
                <p class="error" *ngIf="password.invalid && (password.touched || password.dirty)">*La contraseña no es válida</p> 
                <button type="submit">Registrate</button>
                <p *ngIf="errorRegister()" class="error">Error en el registro</p>
                <span class="loader" *ngIf="cargando()"></span>   
                <p>¿Ya tienes cuenta? - <a [routerLink]="['/login']">Inicia sesión</a></p>
            </form>
        </div>
    </div>
</div>