<div class="loader-container" *ngIf="cargando()">
    <span class="loader"></span>
</div>
<div class="background">
    <div class="page-container">
        <div class="logo-container">
            <img class="logo-verde-sombra" src="./../../../assets/img/logo-verde-sombra.png" alt="Logo Coinvert">
        </div>
        <div class="form-container">
            <form #loginForm="ngForm" (ngSubmit)="login()" id="login-form" action="" method="post" autocomplete="on" aria-labelledby="Login">
                <img src="./../../../assets/img/logo-verde.png">
                <p>¡Bienvenido/a!</p>
                <div>
                    <input class="input-style" type="email" id="email" name="email" placeholder=" " [(ngModel)]="loginData.Email" #email="ngModel" required>
                    <label for="email">Email</label>
                </div>
                <p *ngIf="email.invalid && (email.dirty || email.touched)" class="error">Este campo es requerido</p>
                <div>
                    <i [ngClass]="passwordVisible ? 'fa-regular fa-eye' : 'fa-regular fa-eye-slash'" (click)="passwordVisibility()"></i>
                    <input class="input-style" [type]="passwordVisible ? 'text' : 'password'" id="password" name="password" placeholder=" " 
                    autocomplete="current-password" required minlength="8" [(ngModel)]="loginData.Password" #password="ngModel" required>
                    <label for="password">Contraseña</label>
                </div>
                <p class="error" *ngIf="password.invalid && (password.dirty || password.touched)">La contraseña tiene que tener un mínimo de 8 caracteres</p>
                <p *ngIf="errorLogin()" class="error">El email o la contraseña son incorrectos</p>
                <button type="submit" [disabled]="loginForm.invalid">Iniciar sesión</button>
                <p>¿No tienes cuenta? - <a [routerLink]="['/register']">Registrate</a></p>
            </form>
        </div>
    </div>    
</div>

