@use "./../../../../assets/styles/variables.scss";

.page-container {
    height: calc(100vh - 105px);
    gap: 40px;
    background-color: #F8F9FA;
}

.card{
    width: 80%;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    color: variables.$color-principal-200;
    font-size: 36px;
    font-weight: 500;
    margin-bottom: 30px;
}

.header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 25px;
    border-radius: 10px;
    padding: 20px 0;
    width: 100%;
    margin: auto;
}

.header-sub{
    background-color: variables.$color-principal-100;
    text-align: start;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: white;
}

.header-conver{
    background-color: variables.$color-principal-100;
    text-align: start;
    width: 100%;
    padding: 20px;
    border-radius: 10px;
    color: white;
}
    .header-sub h2,
    .header-conver h2,
    .tab-money-content h2{
        font-size: 22px;
        font-weight: 400;
        margin-bottom: 15px;
    }

    .header-sub p,
    .header-conver p{
        font-size: 26px;
        font-weight: 700;
    }

.tab-money-container{
    background-color: variables.$color-principal-100;
    border-radius: 10px;
    padding: 20px 0;
    width: 100%;
    margin: auto;
}

.tab-money-content{
    color: white;
    padding: 0 20px;
}

    .paginate {
        width: 100%;
        text-align: end;  
    }

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px; 
    margin-bottom: 20px;
  }
  
  .table th {
    text-align: start;
    color: white; 
    padding-bottom: 10px; 
  }
  
  .table td {
    padding: 5px;
  }
  
  .table tbody tr:nth-child(odd) {
    background-color: variables.$color-principal-300; 
  }
  
  .table tbody tr:nth-child(even) {
    background-color: variables.$color-principal-100; 
}

.tab-hist-container{
    background-color: variables.$color-principal-100;
    border-radius: 10px;
    padding: 20px 0;
    width: 100%;
    margin: auto;
    margin-top: 25px;
}