<div class="page-container">
    <div class="card">
        <h1>Mi cuenta</h1>

        <!-- Cabecera -->
        <div class="header-container">
            <div class="header-sub">
                <h2>Suscripción</h2>
                <p>FREE</p>
            </div>
            <div class="header-conver">
                <h2>Conversiones restantes</h2>
                <p>10</p>
            </div>
        </div>

        <!-- Tabla monedas -->
        <div class="tab-money-container">
            <div class="tab-money-content">
                <h2>Monedas favoritas</h2>

                <!-- Tabla -->
                <table class="table">
                    <thead>
                        <tr>
                            <th></th>
                            <th>Nombre</th>
                            <th>Símbolo</th>
                            <th>Índice de convertibilidad</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><i class="fa-solid fa-star"></i></td>
                            <td>Peso argentino</td>
                            <td>ARS</td>
                            <td>0.0002</td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-star"></i></td>
                            <td>Dolar estadounidense</td>
                            <td>USD</td>
                            <td>1</td>
                        </tr>
                        <tr>
                            <td><i class="fa-solid fa-star"></i></td>
                            <td>Euro</td>
                            <td>EUR</td>
                            <td>1.2</td>
                        </tr>
                    </tbody>
                </table>
                <div class="paginate">
                    <p>1 de x <i class="fa-solid fa-arrow-right"></i></p>
                </div>
                
            </div>
        </div>

        <!-- Historial -->
        <div class="tab-hist-container">
            <div class="tab-money-content">
                <h2>Historial</h2>

                <!-- Tabla -->
                <table class="table">
                    <thead>
                        <tr>
                            <th>De</th>
                            <th>A</th>
                            <th>Monto inicial</th>
                            <th>Resultado</th>
                            <th>Fecha</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Peso argentino</td>
                            <td>Dolar estadounidense</td>
                            <td>10000</td>
                            <td>1000000000000</td>
                            <td>5/12/2023</td>
                        </tr>
                        <tr>
                            <td>Dolar estadounidense</td>
                            <td>Dolar estadounidense</td>
                            <td>10000</td>
                            <td>10000</td>
                            <td>12/11/2023</td>
                        </tr>
                        <tr>
                            <td>Euro</td>
                            <td>Dolar estadounidense</td>
                            <td>2000</td>
                            <td>220000</td>
                            <td>11/11/2023</td>
                        </tr>
                        <tr>
                            <td>Real</td>
                            <td>Euro</td>
                            <td>10000</td>
                            <td>1000000000000</td>
                            <td>20/10/2023</td>
                        </tr>
                        <tr>
                            <td>Peso argentino</td>
                            <td>Dolar estadounidense</td>
                            <td>50000</td>
                            <td>5000000000000</td>
                            <td>5/5/2023</td>
                        </tr>
                    </tbody>
                </table>
                <div class="paginate">
                    <p>1 de x <i class="fa-solid fa-arrow-right"></i></p>
                </div>
                
            </div>
        </div>

    </div>
</div>
