<div class="form-container">
    <form id="create-user-form" #form="ngForm" autocomplete="on">
        <h2>Agregar nuevo usuario</h2>
        <div class="input-container"> 
            <input class="input-style" type="text" id="createUsername" name="username" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="userForCreation.Username">
            <label for="createUsername">Nombre de usuario</label>
        </div>
        <div class="input-container">
            <input class="input-style" type="email" id="createEmail" name="email" placeholder=" " autocomplete="on" required="true" [(ngModel)]="userForCreation.Email" #email="ngModel" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
            <label for="createEmail">Email</label>
        </div>
        <div class="input-container">
            <input class="input-style" type="text" id="createName" name="name" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="userForCreation.FirstName" #name="ngModel">
            <label for="createName">Nombre</label>
        </div>
        <div class="input-container">
            <input class="input-style" type="text" id="createLastname" name="lastname" placeholder=" " minlength="3" autocomplete="on" required="true" [(ngModel)]="userForCreation.LastName" #lastname="ngModel">
            <label for="createLastname">Apellido</label>
        </div>
        <div class="input-container">
            <input class="input-style" type="password" id="createPassword" name="password" placeholder=" " minlength="8" autocomplete="on" required="true" [(ngModel)]="userForCreation.Password" #password="ngModel">
            <label for="createPassword">Contrasena</label>
        </div>
        <div class="radio-input">
            <span>Suscripción</span>
            <input type="radio" id="free" name="subscription" [(ngModel)]="user.subscriptionId" value="1"> Free 
            <input type="radio" id="trial" name="subscription" [(ngModel)]="user.subscriptionId" value="2"> Trial 
            <input type="radio" id="pro" name="subscription" [(ngModel)]="user.subscriptionId" value="9"> Pro 
        </div>
        
        <div class="btn-container">
            <button type="submit" (click)="addUser(); this.cerrar.emit()">Confirmar</button>
            <button type="button" class="cancel" (click)="this.cerrar.emit()">Cancelar</button>
        </div>
        
    </form>
</div>

