<div class="page-container">
    <div class="card">
        <h1>Conversor de divisas</h1>
        <p>Ingresa una moneda de entrada, una de salida y ¡coinvert!</p>
        <p class="mt-10">Conversiones restantes: x</p>

        <!-- Conversion -->
        <div class="mt-20 d-flex">
            <select class="p-10 ">
                <option>ARS</option>
                <option>USD</option>
                <option>REAL</option>
            </select>
            <i class="fa-solid fa-right-left"></i>
            <select class="p-10 ">
                <option>USD</option>
                <option>ARS</option>
                <option>REAL</option>
            </select>
        </div>

        <!-- Monto a convertir -->
        <div class="mt-20">
            <input type="text" placeholder="Monto a convertir" >
        </div>

        <!-- Botón -->
        <button class="mt-20 p-10">Convertir</button>

        <!-- Resultado -->
        <div class="content-res mt-20">
            <h3>Resultado</h3>
            <p><b>XXXXX</b></p>
        </div>

    </div>
</div>

