@use "./../../../../assets/styles/variables.scss";

.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 105px);
    gap: 40px;
    background-color: #F8F9FA;
}

.card {
    width: 320px;
    height: 410px;
    border-radius: 15px;
    border: 3px solid variables.$color-principal-200; 
    color: variables.$color-principal-200;
    transition: transform 0.5s ease-out;
  }


.card-header {
    padding: 20px;
    text-align: center;
}

h3{
    font-weight: 700;
    font-size: 38px;
    margin-top: 20px;
}
span {
    font-weight: 700;
    font-size: 30px;
}
.description {
    font-size: 10px;
}

.card-price {
    margin-top: 20px;
}
  
.card-body {
padding: 15px;
    p {
        font-weight: 600;
        margin-bottom: 5px;
    }
}

.card-features {
list-style: none;
padding: 0;
margin: 0;
}

.card-features li {
padding: 10px;
border-bottom: 1px solid #F8F9FA;
}

.card-button {
width: 100%;
padding: 12px;
border: none;
border-radius: 10px;
background-color: variables.$color-principal-200;
color: #F8F9FA;
font-size: 14px;
cursor: pointer;
transform: transition .4s;
margin: -40px 0 40px 0;
}

.card-button:hover {
background-color: variables.$color-principal-100;
}

.card:hover{
    transform: translate(0px, -10px); 
}

@media (width < 980px) {
    .page-container {
        flex-direction: column;
    }
}
